@charset "UTF-8";

body {
background-color: #ffffff;
}

h1 {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

span.sample1 {
    font-family: "ＭＳ Ｐ明朝";
}
span.sample2 {
    font-family: "arial black";
}
span.sample3 {
    font-family: "Comic Sans MS";
}

span.sample4 {
    font-family: "Times New Roman";
}
span.sample4 {
    font-family: "sans-serif";
}
